@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* font-size:1em; 1 em 是root */
--logo-size: 60px;
--overlay-color:#8b8f91;
--background-color:rgb(0, 0, 0);
--font-color:#fff;
--menu-width: 300px;
--grey-color:#7f8c8d;
} 

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Poppins', sans-serif; 
}


.showcase {
    position: absolute;  
    left:0;
    width:100%;
    min-height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:var(--background-color); 
    color:var(--font-color); 
    z-index:2;
    /* transition: 0.5s ease-in-out; */
}

.showcase header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-transform:uppercase;
    z-index:99;
}

.showcase.active{
    right: 300px;
    width: calc(100% - var(--menu-width));
    

}
.showcase header .logo{
    white-space: nowrap;
    Font-size:20px;
} 

.toggle  {    
    position:relative;
    width:60px;
    height:60px;
    background:url('./Travel Website/assets/menu-line.svg');
    /* background-color:rgb(244, 17, 17);  */
    background-repeat: no-repeat; 
    background-size:30px;
    background-position:center;
    cursor:pointer; 
    filter:invert(1);
}

.toggle.active {
    background:url('./Travel Website/assets/close-line.svg');
    background-repeat:no-repeat;
    background-size:30px;
    background-position: center;
    /* filter:invert(1); */
}

.showcase video {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover ;
    opacity:0.8;
 }
 
 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--overlay-color);
     mix-blend-mode: overlay;
 }
 
 .text{   
     padding:relative;
     z-index:4;
 }
 
 .text h1{
     font-size:5rem;
     font-weight:800;
     line-height:1em; /*不要影响root的rem，所以使用em ; fontsize也可以使用百分比，62.5% */
     text-transform: uppercase;
 }
 
 .text h2{
     font-size:4rem;
     font-weight:8=700;
     line-height:1em; /*不要影响root的rem，所以使用em ; fontsize也可以使用百分比，62.5% */
     text-transform: uppercase;
 }
 .text p{
     font-size:1.1rem;
     margin:20px 0;
     max-width: 700px;
 }
 
 .text a{
     display: inline-block;/* 外表inline 内部不会因为挤压变小*/
     font-size: 1rem;
     background-color: var(--background-color);
     color:var(--font-color);
     text-decoration: none;
     margin-top:10px;
     letter-spacing: 2px;
     cursor: pointer;
     padding:10px 30px;
     text-transform: uppercase;
     transition:0.2s;
 
 }
 
 .text a:hover {
     letter-spacing: 6px;
 
 }
 
 .social {
     position:absolute;
     bottom:20px;
     z-index:3;
     display: flex;
     cursor: pointer;
     justify-content: center;
     align-items: center;
 
 }
 .social li {
     list-style: none;
 }
 
 .social li a{
     display: inline-block;
     filter: invert(1);
     margin-right: 20px;
     transition: 0.5s;
     
 }
 
 .social li a:hover {
     transform:translateY(-12px); /*鼠标点上去 往下平移 */
     transition: 0.5s; /* 上去0。5秒 下来是1秒*/
 }
 
 .menu {
     z-index:1;
     position: absolute;
     top: 0;
     right: 0;
     width: var(--menu-width);
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     /* filter:invert(1); */
 }

 .menu ul{
     list-style-type: none;
     margin:0;
     padding:0;
     width:200px;
     /* background-color: #232527; */
 
 }
 
 .menu ul li{
    font-size: 40px;
	font-family: sans-serif;
	background-color: white;
	border: 1px solid rgb(253, 253, 253);
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.1em;
	cursor: pointer;
 }
 
 .menu ul li a {
     display: block;
     padding:8px 15px;
     text-decoration: none;
     font-size:24px;
     color:var(--overlay-color);
     z-index:1;
     letter-spacing: 0.1em;
     mix-blend-mode: difference;

     
 }

.menu ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: rgb(148, 147, 147);
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

.menu ul li:hover::before {
	transform: scale(7);
}



 @media(max-width:798px) {
     .showcase,
     .showcase header {
         padding:40px;
     }
 
     .text h2{
         font-size: 3rem;
     }
     .text h3{
         font-size: 2rem;
     }
 
 
 } 